#jorge-container {
  width: 100vw;
  height: 100vh;
  background: url(mysteryimage.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1 {
	color: white;
	font-size: 3rem;
	text-align: center;	
	font-family: 'Mystery Quest', sans-serif;

}

hr{
	border-color: #6E6C6A;
	border-width: 3px;
	max-width: 65px;
}

.buffer{
	height: 100px;

}

.btn{
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
	color: white;
}

.btn-xl {
	padding:  1rem 2rem;
}

.btn-primary {
	background-color: #6E6C6A;
	border-color: #6E6C6A;

}

.btn-primary:hover{
	background-color: black;
	border-color: black;
	border-width: 3px;

}

